body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-jost: Jost;
  --font-dm-serif-display: "DM Serif Display";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-9xs: 4px;
  --font-size-5xs: 8px;
  --font-size-3xs: 10px;
  --font-size-8xs: 5px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-green: #008000;
  --color-dimgray: #4d5053;

  /* Gaps */
  --gap-smi-5: 12.5px;

  /* Paddings */
  --padding-7xl: 26px;
  --padding-30xl: 49px;
  --padding-29xl: 48px;

  /* border radiuses */
  --br-lg: 18px;
  --br-41xl: 60px;
  --br-33xl-1: 52.1px;
}
