.sweepspace-helps {
  margin: 0;
  line-height: 15px;
}
.blank-line {
  margin: 0;
  line-height: 10px;
}
.sweepspace-helps-communities-container {
  position: absolute;
  width: 33.84%;
  top: 81px;
  left: 7.12%;
  display: inline-block;
  font-family: var(--font-outfit);
  color: var(--color-black);
}
.logo-2-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 14.39px;
  height: 20px;
  object-fit: cover;
}
.smartsweep {
  position: absolute;
  top: 12px;
  left: 42px;
  line-height: 13px;
  display: flex;
  align-items: center;
  width: 91px;
  height: 25px;
}
.screenshot-2023-02-27-225052-1 {
  position: absolute;
  top: 63px;
  right: 51.92px;
  width: 155.08px;
  height: 120px;
  object-fit: cover;
}
.oip-5-icon {
  position: absolute;
  top: 236px;
  left: 25px;
  width: 182.61px;
  height: 150px;
  object-fit: cover;
}
.action,
.from {
  margin: 0;
}
.action {
  color: var(--color-green);
}
.from-data-to-container1 {
  line-break: anywhere;
  width: 100%;
}
.from-data-to-container {
  position: absolute;
  top: 245px;
  right: 65px;
  display: flex;
  font-family: var(--font-outfit);
  align-items: center;
  width: 64px;
  height: 109px;
  color: var(--color-black);
}
.services {
  color: var(--color-green);
}
.our-services {
  position: absolute;
  top: 405px;
  left: calc(50% - 43.5px);
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  font-family: var(--font-outfit);
  width: 80px;
  height: 17px;
  color: var(--color-black);
}
.oip-6-icon,
.oip-7-icon {
  position: absolute;
  width: 25.7%;
  top: 441px;
  right: 60.81%;
  left: 13.49%;
  border-radius: 52.09px;
  max-width: 100%;
  overflow: hidden;
  height: 72px;
  object-fit: cover;
}
.oip-6-icon {
  right: 16.54%;
  left: 57.76%;
}
.home {
  position: absolute;
  top: 529px;
  left: 67px;
  line-height: 125%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
}
.our-route-optimization,
.read-more {
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  text-align: center;
}
.our-route-optimization {
  position: absolute;
  top: 564px;
  left: 55px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.01em;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
}
.read-more {
  position: relative;
  font-size: var(--font-size-8xs);
  letter-spacing: 0.02em;
  line-height: 125%;
  font-weight: 600;
}
.vector-icon {
  position: relative;
  width: 7.09px;
  height: 7.94px;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 648px;
  left: 82px;
  width: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-5);
}
.our-solutions-and {
  position: absolute;
  top: 562px;
  right: 61px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  text-align: center;
  width: 107px;
}
.button1,
.office,
.our-solutions-and {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 654px;
  left: 254px;
  width: 64px;
  flex-direction: row;
  gap: var(--gap-smi-5);
}
.office {
  position: relative;
  line-height: 125%;
  width: 138.56px;
}
.sub-content,
.using-real-time-data {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
}
.sub-content {
  top: 528px;
  left: 244px;
  width: 84px;
  flex-direction: column;
  justify-content: flex-start;
}
.using-real-time-data {
  top: 777px;
  left: calc(50% - 47.5px);
  font-size: var(--font-size-3xs);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  justify-content: center;
  width: 97px;
}
.oip-3-icon {
  position: absolute;
  top: 668px;
  left: calc(50% - 51.5px);
  border-radius: 52.09px;
  width: 101px;
  height: 72px;
  object-fit: cover;
}
.button2,
.council {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.council {
  top: 749px;
  left: calc(50% - 82.5px);
  line-height: 125%;
  text-align: center;
  width: 158.35px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 906px;
  left: calc(50% - 30.5px);
  width: 64px;
  height: 6px;
  flex-direction: row;
  gap: var(--gap-smi-5);
}
.download-1-1,
.download-1-icon {
  position: absolute;
  border-radius: var(--br-41xl);
  width: 154px;
  object-fit: cover;
}
.download-1-icon {
  top: 949px;
  left: 41px;
  height: 215px;
}
.download-1-1 {
  top: 1210px;
  right: 43px;
  height: 212px;
}
.contact {
  position: absolute;
  top: 1493px;
  left: calc(50% + 17.5px);
  font-size: var(--font-size-xs);
  line-height: 125%;
  display: flex;
  align-items: center;
  width: 63px;
}
.university-of-regina {
  margin: 0;
  line-height: 150%;
}
.brandsweepgmailcom {
  margin: 0;
  line-height: 300%;
}
.university-of-regina-container {
  position: absolute;
  top: 1512px;
  left: calc(50% + 5.5px);
  font-size: var(--font-size-5xs);
  letter-spacing: 0.01em;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  width: 88px;
  height: 88px;
}
.services2 {
  position: relative;
  line-height: 125%;
}
.pickups-dashboards-tracking-container {
  position: relative;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.01em;
  line-height: 300%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
}
.services1,
.smartsweep2 {
  position: absolute;
  display: flex;
}
.services1 {
  top: 1493px;
  left: calc(50% - 48.5px);
  width: 65px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.38px;
  font-size: var(--font-size-xs);
}
.smartsweep2 {
  top: 0;
  left: 18px;
  line-height: 125%;
  align-items: center;
  width: 68px;
  height: 19px;
}
.logo-2-icon1 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 11.34px;
  height: 15px;
  object-fit: cover;
}
.smartsweep1 {
  position: absolute;
  top: 1491px;
  left: 36px;
  width: 86px;
  height: 19px;
  font-size: var(--font-size-3xs);
}
.pages {
  position: absolute;
  top: 1490px;
  left: calc(50% + 94.5px);
  line-height: 125%;
}
.about-us-user-container {
  position: absolute;
  top: 1515px;
  left: calc(50% + 98.5px);
  font-size: var(--font-size-5xs);
  letter-spacing: 0.01em;
  line-height: 300%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  width: 51px;
}
.schedule-pickup {
  position: relative;
  font-size: var(--font-size-9xs);
  letter-spacing: 0.02em;
  line-height: 125%;
  font-weight: 600;
  font-family: var(--font-jost);
  color: var(--color-white);
  text-align: center;
}
.button3,
.button4,
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl) var(--padding-30xl) var(--padding-7xl)
    var(--padding-29xl);
  background-color: var(--color-green);
  position: absolute;
  top: 172px;
  left: 59px;
  border-radius: var(--br-lg);
  box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
  width: 48px;
  height: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button4,
.button5 {
  top: 1108px;
  left: 260px;
}
.button5 {
  top: 1383px;
  left: 79px;
}
.span {
  color: var(--color-black);
}
.from-trash-to-container,
.our-impact {
  position: absolute;
  line-height: 15px;
  font-family: var(--font-outfit);
  color: var(--color-black);
}
.from-trash-to-container {
  top: 1523px;
  left: 38px;
  display: inline-block;
  width: 77px;
  height: 33px;
}
.our-impact {
  top: 1235px;
  left: 59px;
  font-size: 16px;
}
.document-one-page-undefined {
  position: absolute;
  top: 16px;
  left: 316px;
  width: 24px;
  height: 17px;
  overflow: hidden;
}
.learn-about-how1 {
  line-height: 15px;
}
.by-properly-disposing-container,
.learn-about-how-container {
  position: absolute;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-outfit);
  width: 110px;
  color: var(--color-black);
}
.learn-about-how-container {
  top: 961px;
  right: 48px;
  height: 126px;
}
.by-properly-disposing-container {
  top: 1268px;
  left: 59px;
  line-height: 15px;
  height: 97px;
}
.iphone-14-pro-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1708px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-green);
  font-family: var(--font-dm-serif-display);
}
